main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    .sidebar_menu, .sidebar_navigator, .textarea_container {
        height: 100%;
    }
    .sidebar_menu {
        width: 48px;
        margin: 0px 24px;
        background-color: beige;
        div {
            width: 48px;
            margin: 24px 0;
            background-color: white;
        }
    }
    .sidebar_navigator {
        width: 520px;
        background-color: cadetblue;
    }
    .textarea_container {
        width: -webkit-fill-available;
        background-color: beige;
    }
}

@media (prefers-color-scheme: dark) {
    
}

@media (prefers-color-scheme: light) {
    
}
