main {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(45deg, var(--primary) -40%, var(--secondary) 100%); */
    background-color: var(--background);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    width: 24vw
}

h1 {
    width: 100%;
    text-align: center;
    padding: 1rem 0rem;
    font-size: 2.5rem;
}

input {
    width: 100%;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    border-bottom: 4px solid var(--primary);
    background-color: var(--primary-container);
    text-align: center;
    font-size: 2rem;
    border-radius: .5rem;
    padding: 2rem;
    margin: 1rem 2rem;
    color: var(--tertiary);
    transition: all .4s ease;
    &:focus {
        color: var(--primary);
        border-bottom: 4px solid var(--primary);
    }
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--primary);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 1rem 2rem;
    width: 100%;
    border-radius: .5rem;
    /* box-shadow: var(--box-shadow); */
    font-family: __Quicksand_68e9d9, Roboto, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    &:hover {
        background-color: var(--primary-container);
    }
}

footer {
    color: var(--primary);
    width: 100%;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
    padding: 0;
    font-size: 2rem;
    & b{
        text-decoration: underline;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1250px) {}

@media only screen and (max-width: 1250px) {}

@media only screen and (max-width: 700px) {}