@media (prefers-color-scheme: dark) {
    :root {
        background-color: #222222;
    }
    main {
        font-size: 3rem;
        width: 90vw;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
    }
    h1,
    h3 {
        color: #fff;
        text-align: center;
    }
    h1 {
        width: 100%;
        margin: 4rem 0 4rem 0;
    }
    h3 {
        width: 17vw;
        margin-bottom: 2rem;
    }
    p {
        width: 17vw;
        color: #fff;
        padding: 12px 0;
    }
    p:nth-child(odd) {
        background-color: #333333;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #fff;
    }
    main {
        width: 90vw;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
    }
    h1,
    h3 {
        color: #222;
        text-align: center;
    }
    h1 {
        width: 100%;
        margin: 4rem 0 4rem 0;
    }
    h3 {
        width: 17vw;
        margin-bottom: 2rem;
    }
    p {
        width: 17vw;
        color: #222;
        padding: 12px 0;
    }
    p:nth-child(odd) {
        background-color: #eee;
    }
}
