:root {
    --primary: #28827d;
    --primary-low-opacity: rgba(40, 130, 125, .2);
    --secondary: #efeee5;
    --tertiary: #274546;
    --light-background: #efeee5;
    --dark-background: #000000;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary)
}