:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root{
    background-color: #222222;
  }
  main{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
  }
  h1, h3{
    color: #FFF;
    text-align: center;
  }
  h1{ 
    width: 100%;
  } 
  h3{
    width: 17vw;
  }
  p{
    width: 17vw;
    color: #FFF;
    padding: 12px 0;
  }
  p:nth-child(odd){
    background-color: #333333;
  }
}

@media (prefers-color-scheme: light) {
  :root{
    background-color: #FFF;
  }
  main{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
  }
  h1, h3{
    color: #222;
    text-align: center;
  }
  h1{ 
    width: 100%;
  } 
  h3{
    width: 17vw;
  }
  p{
    width: 17vw;
    color: #222;
    padding: 12px 0;
  }
  p:nth-child(odd){
    background-color: #EEE;
  }
}
