main {
    --primary: #28827d;
    --secondary: #EFEEE5;
    --tertiary: #274546;
    --tertiary-low-opacity: rgba(39, 69, 70, .2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.sidebar {
    height: 100%;
    width: 420px;
    background-color: var(--primary);
    .header-title-container {
        border-bottom: 1px solid var(--tertiary);
    }
}
.textarea-container {
    height: 100%;
    width: calc(100% - 420px);
    background-color: var(--tertiary);
    .header-title-container {
        border-bottom: 1px solid var(--primary);
    }
}
.header-title-container {
    height: 24px;
    padding: 16px 24px;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--tertiary-low-opacity);
}
.header-title {
    font-size: 24px;
    text-indent: 12px;
    color: var(--secondary);
}
.new-note-button {
    display: block;
    width: 380px;
    padding: 12px 0px;            
    font-size: 20px;
    margin: 12px auto;
    background-color: var(--tertiary);
    color: var(--secondary);
    text-indent: 12px;
    border-radius: 4px;
    cursor: pointer;
}
.note-list-category {
    margin: 20px 32px 12px;
    font-size: 24px;
}
.note-list-element {
    margin: 8px 32px 8px 48px;
    font-size: 20px;
}

@media (prefers-color-scheme: dark) {
    
}

@media (prefers-color-scheme: light) {
    
}