@media (prefers-color-scheme: dark) {
    main {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(90deg, rgba(207, 33, 62, 1) 0%, rgba(79, 92, 158, 1) 100%);
    }
    header {
        background: rgba(255, 255, 255, 1);
        h1 {
            color: rgba(0, 0, 0, 1);
        }
    }
}

@media (prefers-color-scheme: light) {
    main {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(90deg, rgba(207, 33, 62, 1) 0%, rgba(79, 92, 158, 1) 100%);
    }
    header {
        background: #222;
        h1 {
            color: white;
        }
    }
}

div.scrollable {
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90vw;
    height: calc(100vh - 84px);
    overflow-y: scroll;
    margin-top: 28px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

header.lateraltitlebox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 56px;
    z-index: 2;
}

h1.lateraltitle {
    font-size: 56px;
    text-align: center;
    width: 100vh;
    height: 56px;
    text-transform: uppercase;
    transform: rotate(90deg) translateX(-56px);
    transform-origin: left bottom;
}

header.titlebox {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 56px;
    width: 100vw;
    z-index: 2;
}

h1.title {
    width: 100vw;
    height: 32px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
}

div.personcontainer {
    position: relative;
    top: 0vh;
    left: 0vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px solid white;
}
div.personcontainer h2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
}
div.personcontainer h3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}

@media only screen and (min-width: 1250px) {
    div.personcontainer h2{
        margin: 16px 8px;
    }
    div.personcontainer h3{
        width: 12vw;
    }
}

@media only screen and (max-width: 1250px) {
    div.personcontainer h3{
        width: 20vw;
        height: 20vw;
    }
}

@media only screen and (max-width: 700px) {
    div.personcontainer h3{
        width: 75vw;
        height: 75vw;
    }
}
