main {
    width: 100vw;
    height: calc(100vh - 56px);
    padding-bottom: 56px;
    background: linear-gradient(90deg, var(--primary) 0%, var(--tertiary) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    h1 {
        color: var(--secondary);
        text-decoration: underline;
    }
}
div.scrollable {
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    &::-webkit-scrollbar {
        display: none;
    }
}

header.lateraltitlebox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 56px;
    z-index: 2;
}

h1.lateraltitle {
    font-size: 56px;
    text-align: center;
    width: 100vh;
    height: 56px;
    text-transform: uppercase;
    transform: rotate(90deg) translateX(-56px);
    transform-origin: left bottom;
}

header.titlebox {
    position: fixed;
    bottom: 2rem;
    left: 0;
    height: 56px;
    width: 100vw;
    z-index: 2;
}

h1.title {
    width: 100vw;
    height: 32px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
}

div.people-container {
    position: relative;
    top: 0vh;
    left: 0vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 2px solid white;
    width: 13%;
    border-radius: 2rem;
    margin: 2rem;
    flex-basis: 12%;
    & h2 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: white;
        text-transform: capitalize;
        text-decoration: underline;
        text-align: center;
    }
    & h3 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: white;
        text-transform: capitalize;
    }
}

@media only screen and (min-width: 1250px) {
    div.people-container {
        & h2 {
            margin: 16px 8px;
        }
        & h3 {
            width: 12vw;
        }
    }
}

@media only screen and (max-width: 1250px) {
    div.people-container {
        & h3 {
            width: 20vw;
            height: 20vw;
        }
    }
}

@media only screen and (max-width: 700px) {
    div.people-container {
        & h3 {
            width: 75vw;
            height: 75vw;
        }
    }
}

div.person-container {
    margin: 16px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.4s ease all;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    &.lower {
        border-radius: 10%;
    }
    &.normal {
        border-radius: 10%;
    }
    & span.tick {
        position: absolute;
        width: 30px;
        height: 30px;
        transition: 0.4s ease all;
        clip-path: polygon(0% 70%, 30% 100%, 100% 30%, 85% 15%, 30% 70%, 15% 55%);
        background-color: rgb(255, 255, 255);
    }
    & span.dot {
        width: 40px;
        height: 4px;
        margin: 8px;
        border-radius: 3px;
        transition: 0.4s ease all;
    }
    & p {
        width: 100%;
        font-size: 16px;
        text-align: center;
        text-transform: capitalize;
    }
    ::selection {
        transition: 0.4s ease all;
    }
    &.talked {
        background-color: rgb(0, 0, 0, 0.6);
        color: rgb(255, 255, 255, 0.2);
        & span.dot {
            background-color: rgb(255, 255, 255, 0.2);
        }
        & span.tick {
            opacity: 1;
        }
        &::selection {
            color: rgb(255, 255, 255, 0.2);
        }
    }
    &.not-talked {
        background-color: rgb(0, 0, 0, 0.2);
        color: rgb(255, 255, 255, 1);
        & span.dot {
            background-color: rgb(255, 255, 255, 1);
        }
        & span.tick {
            opacity: 0;
        }
        &::selection {
            color: rgb(255, 255, 255, 1);
        }
    }
}
@media only screen and (min-width: 1250px) {
    div.person-container {
        width: 9vw;
        height: 6vw;
    }
}
@media only screen and (max-width: 1250px) {
    div.person-container {
        width: 25vw;
        height: 25vw;
    }
}
@media only screen and (max-width: 700px) {
    div.person-container {
        width: 75vw;
        height: 75vw;
    }
}
