@media (prefers-color-scheme: dark) {
    main {
        background: linear-gradient(90deg, rgba(207, 33, 62, 1) 0%, rgba(79, 92, 158, 1) 100%);
    }
    input,
    h1 {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    main {
        background: linear-gradient(90deg, rgba(207, 33, 62, 1) 0%, rgba(79, 92, 158, 1) 100%);
    }
    input,
    h1 {
        color: white;
    }
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    width: auto;
    text-align: center;
    padding-bottom: 8px;
    font-size: 20px;
}

h2 {
    font-size: 24px;
    position: fixed;
    bottom: 24px;
    left: 0;
    width: 100vw;
    text-align: center;
    color: white;
}

div.passwordinputcontainer {
    height: 34px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

input.passwordinput {
    height: 34px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
    font-size: 24px;
}

div.passwordbuttoncontainer {
    height: 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    padding: 10px;
    border-radius: 6px;
}

button {
    cursor: pointer;
    height: 24px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}

@media only screen and (min-width: 1250px) {
    div.passwordinputcontainer,
    input.passwordinput,
    div.passwordbuttoncontainer,
    button {
        width: 20vw;
    }
}

@media only screen and (max-width: 1250px) {
    div.passwordinputcontainer,
    input.passwordinput,
    div.passwordbuttoncontainer,
    button {
        width: 50vw;
    }
}

@media only screen and (max-width: 700px) {
    div.passwordinputcontainer,
    input.passwordinput,
    div.passwordbuttoncontainer,
    button {
        width: 80vw;
    }
}
