@media (prefers-color-scheme: dark) {
    main {
        background: linear-gradient(90deg, rgba(207, 33, 62, 1) 0%, rgba(79, 92, 158, 1) 100%);
    }
    input,
    h1 {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    main {
        background: linear-gradient(90deg, rgba(207, 33, 62, 1) 0%, rgba(79, 92, 158, 1) 100%);
    }
    input,
    h1 {
        color: white;
    }
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    width: auto;
    text-align: center;
    padding-bottom: 8px;
    font-size: 20px;
}

button {
    display: none;
}
