@media (prefers-color-scheme: dark) {
    main {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(90deg, rgba(207, 33, 62, 1) 0%, rgba(79, 92, 158, 1) 100%);
    }
    header {
        background: rgba(255, 255, 255, 1);
        h1 {
            color: rgba(0, 0, 0, 1);
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #fff;
    }
    header {
        background: #222;
        h1 {
            color: white;
        }
    }
}

div.scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

header.lateraltitlebox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 56px;
    z-index: 2;
}

h1.lateraltitle {
    font-size: 56px;
    text-align: center;
    width: 100vh;
    height: 56px;
    text-transform: uppercase;
    transform: rotate(90deg) translateX(-56px);
    transform-origin: left bottom;
}

div.personcontainer {
    position: relative;
    top: 0vh;
    left: 56px;
    width: calc(100vw - 56px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    z-index: 1;
}
