.table-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
}
table {
    transform: translate(0, 0);
    padding: 6rem;
    margin: 2rem 0rem;
    background-color: var(--surface-container);
    border-radius: 2rem;
    /* .year-title {
        display: block;
        position: absolute;
        font-size: 54px;
        width: 156px;
        text-align: center;
        padding: 0 12px;
        transform: translateY(-48px);
        font-family: 'Oxanium', sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    } */
    & thead {
        & th {
            text-align: center;
            font-size: 2rem;
            padding: 1.5rem;
        }
        border-bottom: 2px solid var(--on-surface-variant);
    }
    & tbody {
        & td {
            text-align: center;
            font-size: 16px;
            padding: 12px;
            width: 100px;
            font-weight: 600;
            white-space: nowrap;
            &.past-month {
                opacity: 0.2;
            }
            &:first-of-type {
                width: 22rem;
                display: block;
                font-weight: 100;
                text-align: right;
            }
            &:nth-child(even) {
                background-color: var(--surface-bright);
            }
        }
    }
}

header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    & h1 {
        font-size: 3rem;
        font-weight: 600;
    }
    & div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        & button {
            display: flex;
            align-items: center;
            height: 5rem;
            padding: 0rem 2rem;
            margin: 0rem 1rem;
            border: none;
            outline: none;
            box-shadow: none;
            font-size: 2rem;
            font-weight: 600;
            transition: all 0.4s ease;
            border-radius: 2rem;
            background-color: var(--surface-container);
            color: var(--on-surface-variant);
            &.selected {
                border-radius: 1rem;
                background-color: var(--primary);
                color: var(--on-primary);
            }
            &:disabled {
                opacity: 0.3;
            }
        }
    }
}
